/* reset css   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: var(--primary-color);
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

}

html {
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
}

/* start header */

header p {
    color: var(--primary-color);
}




/* end header */

/* start banner */



/* end banner */

/* start AboutUs */



/* end AboutUs */

/* start Best price */



/* end Best price */

/* start Popular Categories */



/* end Popular Categories */

/* start Home Services */



/* end Home Services */

/* start Middle - intro */



/* end Middle - intro */

/* start Number */



/* end Number */

/* start Video */



/* end Video */

/* start Blog post */



/* end Blog post */

/* start Testimonial  */



/* end Testimonial  */

/* start Footer */



/* end Footer */


