/* Desktops */

@media (max-width:1199.98px) {
   /* start Phong sections */
        /* start banner  */
            .banner__contents h3 {
                font-size:48px;
                line-height:58px;
            }
        /* end banner  */

   /* end Phong sections */


   /* start Nguyen sections */

   /* end Nguyen sections */


   /* start Duc sections  */

   /* end Duc sections */
}

/* Tablets */

@media (max-width: 991.98px) {
    /* start Phong sections */
        /* start banner  */
            .banner__contents h3 {
                font-size: 44px;
                line-height: 53px;
            }
        /* end banner  */
        /* start BestPrice  */
            .subscribe-cat {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 30px;
                grid-gap: 20px 10px;
            }
            
            .subscribe-cat .subscribe-cat-link {
                font-size: 18px;
            }
            .agent-block-image {
            
                min-height: 200px;
            }
        /* end BestPrice  */

   /* end Phong sections */


   /* start Nguyen sections */
    .video .video__banner {
        min-height: 400px;
    }

    .footer__item .footer__link:last-child {
        margin-bottom: 0;
    }

    .footer__social {
        text-align: center;
    }

    .copy-right p {
        text-align: center;
    }

    .copy-right__list {
        justify-content: center;
        margin-top: 3px;
    }
   /* end Nguyen sections */
   /* start Duc sections  */
   
   /* end Duc sections */
   
    
}

/* Mobile */

@media (max-width: 575.98px) {
     /* start Phong sections */
            /* start banner  */
                .banner__contents h3 {
                    font-size: 28px;
                    line-height: 38px
                }

                .search-bar {
                    display: none;
                }

                .btn-white {
                    padding: 10px 21px;
                }

                .banner {
                    min-height:450px;
                }
                .overlay ul li a {
		            font-size: 16px;
	            }
	            .overlay ul li {
		            line-height: 2.2em;
	            }
            /* end banner  */
            /* start BestPrice  */
                
            /* end BestPrice  */
   /* end Phong sections */


   /* start Nguyen sections */
     .video .video__banner {
        min-height: 320px;
    }

    .footer__item .footer__link:last-child {
        margin-bottom: 0;
    }

    .footer__social {
        text-align: center;
    }

    footer .copy-right p {
        text-align: center;
    }

    .copy-right__list {
        justify-content: center;
        margin-top: 3px;
    }
    .banner__contents h3 {
        font-size: 28px;
        line-height: 38px
    }

    .search-bar {
        display: none;
    }

    .btn-white {
        padding: 10px 21px;
    }

    .banner {
        min-height:450px;
    }
    .overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 2.2em;
	}
    
   /* end Nguyen sections */


   /* start Duc sections  */

   /* end Duc sections */
   
}
